<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haru.mappers.file">

	<insert id="insertFileMaster" parameterType="FileVO">
		
			INSERT INTO COMTNFILE
			(ATCH_FILE_ID, CREAT_DT, USE_AT)
			VALUES
			( #{atchFileId}, SYSDATE(), 'Y')			
		
	</insert>
	
	<insert id="insertFileDetail" parameterType="FileVO">
		
			INSERT INTO COMTNFILEDETAIL
			( ATCH_FILE_ID, FILE_SN, FILE_STRE_COURS, STRE_FILE_NM, 
			  ORIGNL_FILE_NM, FILE_EXTSN, FILE_SIZE, FILE_CN )
			VALUES
			( #{atchFileId}, #{fileSn}, #{fileStreCours}, #{streFileNm}, 
			  #{orignlFileNm}, #{fileExtsn}, #{fileMg}, #{fileCn} )			
		
	</insert>	

</mapper>