@charset "UTF-8";
body {font-family: 'Montserrat', sans-serif; color: #353535; font-weight: bold; min-width: 1280px;}
table {margin: 0 auto; width: 1280px; line-height: 1.5;  border-collapse: collapse;}
tbody {text-align: center;}
td {border-top: 1px solid #f2f2f2; padding: 13px 10px 12px; vertical-align: middle; word-break: break-all;}
th {padding: 13px 0 12px; border-bottom: 1px solid #f2f2f2; color: #353535; background: #f7f7f7;}
a {text-decoration: none; color: #555555; }
input {height: 48px; padding: 0 14px; border: 1px solid #dbdbdb; font-size: 17px;}

.contents {padding: 0 0 70px; margin: 0 auto; width: 1280px; }

.totalCount {width: 1280px; margin: 0 auto; padding: 0px 0px 10px 30px;}