@charset "UTF-8";
.subject {font-size: 17px; padding: 20px 0 10px;}
.detail {border-top: 1px solid #eee; margin-top: 20px; padding: 30px 0px;}
.btn_con01 {display: flex;}
.btn_con01 a {margin: 10px;}

